/* Global Styles */
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5; /* Consistent line height */
}

/* Header */
header {
  background-color: #003366;
  color: #ffffff;
  text-align: center;
  padding: 0.625rem 0;
  border-bottom: 0.1875rem solid #cccccc;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

/* Main Container */
.container {
  max-width: 50rem;
  margin: 1.25rem auto;
  padding: 0.625rem;
  background-color: #f8f8f8;
  border: 0.0625rem solid #cccccc;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.2; /* Consistent line height for headings */
}

h2 {
  color: #003366;
  font-size: 1.125rem;
  border-bottom: 0.125rem solid #cccccc;
  padding-bottom: 0.125rem;
}

h3 {
  font-size: 1rem;
  margin-top: 0.625rem;
}

/* Paragraphs and Lists */
p,
ul,
ol {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5; /* Consistent line height */
}

p {
  margin: 0.625rem 0;
}

ul,
ol {
  padding-left: 1.25rem; /* Consistent padding for lists */
}

ul li,
li {
  margin-bottom: 0.5rem; /* Consistent margin for list items */
}

/* Links */
a {
  color: #003366;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

/* Button */
.button {
  display: inline-block;
  background-color: #003366;
  color: #ffffff;
  text-decoration: none;
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid #cccccc;
  font-size: 0.875rem;
}

.button:hover {
  background-color: #002244;
  border-color: #999999;
}

/* Intro Text */
.intro-text {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; /* Consistent margin */
}

.intro-text img.profile-picture {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  margin: 1%;
  border: 0.0625rem solid #cccccc;
}

/* Focus Container */
.focus-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem; /* Consistent margin */
}

.focus-container .column {
  width: 48%;
}

/* Social Links */
.socials {
  margin-top: 1rem;
}

.social-link {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.3125rem 0.625rem;
  background-color: #003366;
  color: #ffffff;
  text-decoration: none;
  border: 0.0625rem solid #cccccc;
  font-size: 0.875rem;
}

.social-link:hover {
  background-color: #002244;
  border-color: #999999;
}

/* Services */
.services ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

.services li {
  margin-bottom: 0.5rem;
}

/* FAQ */
.faq h3 {
  color: #003366;
  font-size: 1rem;
  margin-top: 1rem;
}

.faq p {
  margin: 0.5rem 0;
}
